<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
</head>
<body>
    <h1>🛒 Giỏ hàng của bạn</h1>
    <table border="1">
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Thành tiền</th>
            <th>Hành động</th>
        </tr>

        <tr th:each="item : ${cartItems}">
            <td th:text="${item.product.name}" ></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.product.price * item.quantity}"></td>
            <td>
                <a th:href="@{/cart/remove/{id}(id=${item.product.id})}">Xóa</a>
            </td>
        </tr>
    </table>
    <h2>Tổng tiền: <span th:text="${total}"></span> VNĐ</h2>
    <a th:href="@{/home}">🏠 Trang chủ</a>
    <a th:href="@{/products}">🍔 Danh sách món ăn</a>
    <a th:href="@{/cart}">🛒 Giỏ hàng</a>
    <a th:href="@{/logout}">🚪 Đăng xuất</a>
</body>
</html>